# .gitignore
/.cache
/logs
/__pycache__
/other/pg_tools.7z
/src/database/__pycache__
/src/database/key.env
/src/database/backups
/src/utils/__pycache__
/src/managers/__pycache__
/src/helpers/__pycache__
/src/engine/__pycache__
/src/engine/functions/__pycache__